body {
  font-family: sans-serif;
  font-family: "Schoolbell", cursive;
  height: 100%;
  background-image: url("lightning-backgrd.png");
}

.complete {
  background-image: url("complete.gif");
  background-size: cover;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  height: 100%;
  width: 100%;
}

.map-container iframe {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-child-1 {
  display: flex;
  margin-top: 10%;
}

#header {
  font-family: "Luckiest Guy", cursive;
  font-size: 150px;
}

#subheader {
  font-family: "Schoolbell", cursive;
  font-size: 45px;
}

#inner-input {
  margin-top: 2px;
}
.flex-child-2 {
  display: flex;
  margin-top: 3%;
}
.flex-child-3 {
  display: flex;
  margin-top: 3%;
}

.flex-child-3a {
  display: flex;
  margin-top: 9%;
  flex-direction: column;
  align-items: center;
}

.quote {
  display: flex;
  font-family: "Basic", sans-serif;
}

#home-btn {
  font-family: "Basic", sans-serif;
}

#mom {
  font-weight: bold;
  font-style: italic;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.flex-child-4 {
  display: flex;
  flex-direction: column;
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-child-5 {
  display: flex;
  padding: 44px;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.inner {
  display: flex;
  margin: 0 auto;
}

.inner-btn {
  margin-top: 3%;
}

#ch-head {
  font-family: "Schoolbell", cursive;
  font-size: 65px;
}

#info-input {
  font-size: 20px;
}

.inner-title {
  padding: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#name-value {
  font-family: "Schoolbell", cursive;
  font-size: 40px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.title {
  font-family: "Schoolbell", cursive;
  font-size: 120px;
  text-align: center;
  width: 100%;
  color: #357889;
}

.sub-title {
  text-align: center;
}
.chore-form {
  display: flex;
  font-family: "Schoolbell", cursive;
  text-align: center;
  margin: 0 auto;
}

.ready {
  font-size: 60px;
  font-family: "Schoolbell", cursive;
  /* color: darkslategrey; */
  color: #31abc6;
  align-content: center;
  justify-content: space-around;
  font-weight: bold;
}

#chore-text {
  font-family: "Schoolbell", cursive;
  /* color: #31abc6; */
  color: #357889;
  font-weight: bold;
  font-size: 40px;
}

.add-change-title {
  font-family: "Schoolbell", cursive;
  font-size: 35px;
  font-weight: bold;
  /* color: #31abc6; */
  color: #357889;
}

.top {
  margin: 0 auto;
}

#btn-text {
  font-family: "Schoolbell", cursive;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#btn-main {
  font-family: "Schoolbell", cursive;
  color: white;
}

#chore {
  font-family: "Schoolbell", cursive;
  font-size: 40px;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#home-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#child-input {
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
